#welcome_message {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .welcome_title,
  .welcome {
    color: #fff;
    text-transform: capitalize;
  }
}
