#signup {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .my_card {
    width: 420px;
    min-height: 480px;
  }
}
